body {
  margin: 0;
  height: 100vh;
  background: #050505;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.35s ease;
  font-family: monospace;
  text-align: center;
}

/* background saat ON */
body.on {
  background: radial-gradient(circle at center, #163f3f, #000);
}

.title {
  color: #d8fff4;
  font-size: 26px;
  margin-bottom: 30px;
  text-shadow:
    0 0 6px rgba(216, 255, 244, 0.6),
    0 0 14px rgba(216, 255, 244, 0.3);
}

.viewer {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav {
  background: none;
  border: none;
  color: #7cfffb;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

#lightstick {
  width: min(70vw, 320px);
}

button#btn {
  margin-top: 22px;
  background: none;
  color: #7cfffb;
  border: 2px solid #7cfffb;
  padding: 10px 20px;
  cursor: pointer;
}
