body {
  margin: 0;
  height: 100vh;
  background: #060606; /* mati */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.35s ease;
}

/* BACKGROUND NYALA */
body.on {
  background: radial-gradient(circle at center, #163f3f, #000);
}

#lightstick {
  width: 260px;
  transition: opacity 0.2s ease;
}

button {
  margin-top: 20px;
  background: none;
  color: #7cfffb;
  border: 2px solid #7cfffb;
  padding: 10px 18px;
}
