body {
  margin: 0;
  height: 100vh;
  background: #060606; /* mati */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background 0.35s ease;
}

/* BACKGROUND NYALA */
body.on {
  background: radial-gradient(circle at center, #163f3f, #000);
}

.viewer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav {
  background: none;
  border: none;
  color: #7cfffb;
  font-size: 28px;
  cursor: pointer;
  padding: 10px;
}

.nav:hover {
  opacity: 0.8;
}
#lightstick {
  width: min(70vw, 320px);
  transition: opacity 0.2s ease;
}

button {
  margin-top: 20px;
  background: none;
  color: #7cfffb;
  border: 2px solid #7cfffb;
  padding: 10px 18px;
}
